<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="main-ftr">
        <hr class="ftr-hr">
        <div class="ftr-mdl">
            <div>
                <div class="main-light mb-2">Assistance Center</div>
                <div class="ftr-mdl-cont">
                    <div><span>Help Desk</span></div>
                    <div><span>SkyShield</span></div>
                    <div><span>Equality Protection</span></div>
                    <div><span>Accessibility support</span></div>
                    <div><span>Cancellation Policy</span></div>
                    <div><span>Report Local Issue</span></div>
                </div>
            </div>
            <div>
                <div class="main-light mb-2">Guest Hosting</span></div>
                <div class="ftr-mdl-cont">
                    <div><span>List Your Space on Airbnb</span></div>
                    <div><span>SkyShield for Hosts</span></div>
                    <div><span>Hosting Tools</span></div>
                    <div><span>Community Discussion Board</span></div>
                    <div><span>Responsible Hosting</span></div>
                </div>
            </div>
            <div>
                <div class="main-light mb-2">Airbnb Services</div>
                <div class="ftr-mdl-cont">
                    <div><span>Media Hub</span></div>
                    <div><span>Recent Updated</span></div>
                    <div><span>Job Opportunities</span></div>
                    <div><span>Shareholders</span></div>
                    <div><span>Airbnb.org Crisis Accommodations</span></div>
                </div>
            </div>
        </div>
        <hr class="ftr-hr">
        <div class="ftr-copy">
            <div>
                <div>&copy; 2024 Airbnb, Inc. &sdot; &nbsp; </div>
                <div class="priv">
                    <a href="#">Privacy</a> &sdot;
                    <a href="#">Terms</a> &sdot;
                    <a href="#">Sitemap</a> &sdot;
                    <a href="#">Company details</a>
                </div>
            </div>
            <div class="ftr-net">
                <div class="eng-in">
                    <i class="fa-solid fa-globe me-1"></i>
                    <div class="main-light">English (IN)</div>
                </div>
                <div class="ftr-inr">₹ INR</div>
                <div class="social-icon">
                    <a target="_blank" href="https://github.com/yogitha-gowda">
                        <img src="/Icon/github.png" alt="GitHub" />
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/yogitha-gowda/">
                        <img src="/Icon/linkedIn.png" alt="LinkedIn" />
                    </a>
                    <a target="_blank" href="https://www.instagram.com/travelingtheworld?igsh=OXVqd2R3bnowZ3Yz">
                        <img src="/Icon/instagram.png" alt="Instagram" />
                    </a>
                    <a target="_blank" href="#">
                        <img src="/Icon/facebook.png" alt="Facebook" style="padding: 1px;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>