<link rel="stylesheet" href="/css/navbar.css">

<nav class="nav-box">
  <div id="nav-main">
    <div id="nav-main-bar">
      <div class="nav-icon">
        <a href="/listings"><i class="fa-solid fa-compass fa-3x"></i></a>
        <a href="/listings" style="font-size: 35px; text-decoration: none; color: red; margin-left: 10px;">Wanderlust</a>
      </div>

      <div class="nav-search nav-hover nav-search-search">
        <form class="d-flex needs-validation" role="search" action="/listings/search" method="get" id="searchBox">
            <input type="search" placeholder="Search destinations" aria-label="Search" name="q" id="mySearchInput">
            <button type="submit" id="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
    
      <div class="nav-user nav-hover">
        <div>
          <img src="/Icon/navbar-icon.png" id="png-img-bar">
          <img src="/Icon/navbar-icon-cross.png" id="png-img-cross">
        </div>
      </div>
      <div class="user-fnx" style="display: none;">
        <a href="/listings/new">Wanderlust your home</a>
        <% if(!currUser){ %>
          <a href="/signup">SignUp</a>
          <a href="/login">LogIn</a>
        <% } %>
        <% if(currUser){ %>
          <a href="/logout">LogOut</a>
        <% } %>
      </div>
    </div>
    <div id="nav-search-hide">
      <div class="nav-search nav-hover">
        <form class="d-flex needs-validation" role="search" action="/listings/search" method="get" id="searchBox">
          <input type="search" placeholder="Search" aria-label="Search" name="q" id="mySearchInput">
          <button type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></i></button>
        </form>
      </div>
    </div>
  </div>
</nav>
<script src="/js/navbar.js"></script>
