.main-ftr {
    background-color: #f6f3f3dc;
    width: 100%;
    padding: 3% 0% 0% 5%;
    margin-top: 30px;
}

.main-light {
    font-weight: 600;
}

@media (max-width:780px) {
    .ftr-nav-pop > div {
        width: 190px;
    }
}

@media (max-width:425px) {
    .ftr-nav-pop > div {
        width: 150px;
    }
}

@media (max-width:375px) {
    .ftr-nav-pop > div {
        width: 120px;
    }
}

.ftr-hr {
    margin-right: 5%;
}

.show i {
    font-size: .8rem;
    opacity: .6;
}

.show:hover {
    opacity: 1;
}

.show span:hover {
    text-decoration: underline;
}

.ftr-mdl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 10px 0px 0px;
}

.ftr-mdl > div {
    margin: 1% 5% 2% 0%;
    width: calc((70%) / 3);
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

@media (max-width:780px) {
    .ftr-mdl > div {
        width: 270px;
    }
}

.ftr-mdl-cont > div > span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.ftr-copy {
    margin: 20px 0px 20px 0px;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ftr-copy > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.ftr-copy a {
    color: black;
    opacity: 8;
}

.ftr-net {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}

.ftr-net > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
}

.social-icon img {
    width: 1.75rem;
    height: 1.75rem;
    margin: .25rem;
}

.social-icon a {
    transition: .3s ease-in-out 0s;
    opacity: .7;
}

.social-icon a:hover {
    transform: scale(1.5);
    opacity: 1;
}

.ftr-inr {
    font-size: .95rem;
    font-weight: 700;
}

.eng-in {
    cursor: pointer;
}

@media (max-width:375px) {
    .priv {
        font-size: .93rem;
    }
}

@media (max-width:925px) {
    .ftr-copy {
        flex-direction: column-reverse;
    }
}

@keyframes sheck {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    66% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}